<p>Hi {{user.available_name}}</p>


<p>Es hora de salvar el mundo. Se ha creado una nueva conversación en {{ inbox.name }}</p>

<p>
Click <a href="{{ action_url }}">here</a> to get cracking.
</p>
